body {
    margin: 0;
    padding: 0;
    background-color: white;
}

/* All the navbar */

.navbar {
    display: flex;
    background-color: rgb(18, 110, 53);
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-image: url(https://cdn.pixabay.com/photo/2020/10/08/17/41/fellowship-5638589_1280.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}

.logo {
width: 75px;
height: auto;
padding-left: 25px;
       
}


.navbar-links {
    display: flex;
    gap: 25px;
    padding-right: 25px;
    
}

.navbar-links li {
    list-style: none;
    font-size: 24px;
    font-family: sans-serif;
}

/* All the header */

.header {
    display: flex;
    
    align-items: center;
    justify-content: center;
    gap: 200px;
    height: 500px;
    background-image: url("https://i.pinimg.com/originals/8c/fe/28/8cfe282f83aeeb2a3c06f9304343cebb.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.gandalfglasses {
    border-radius: 100px;
    width: 450px;
    height: auto;
    border: 3px solid rgb(18, 110, 53);
    background-color: black;
    opacity: 1;
    transform: scaleX(-1);
}

.headerwelcome {
flex-wrap: wrap;
width: 500px;
height: auto;
font-family: "Courier New";
background-color: rgba(233, 240, 234, 0.5);
border-radius: 30px;
padding: 30px;
color: rgb(18, 110, 53);
border: 3px solid rgb(18, 110, 53);
}

.headerwelcome button {
    padding: 2px 25px;
    background-color: rgb(18, 110, 53);
    color: whitesmoke;
    text-align: center;
    border-radius: 30px;
    margin-left: 70px;
    

}

/* All the team info */

.teaminfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 500px;
    font-family: "Courier New";
    background-color: grey;
    border-top: 3px solid black;
}

.members {
    display: flex;
    gap: 25px;
    width: 300px;
    height: 300px;
    align-items: center;
    justify-content: center;
}

.membericon {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px solid rgb(18, 110, 53);
    border-radius: 10px;
    margin-bottom: 30px;
 
}

.text {
    text-align: center;
    font-weight: bold;
}

/* Quote */

.quote {
    height: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url(https://mocah.org/uploads/posts/4586377-fantasy-art-the-lord-of-the-rings.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-top: 3px solid black;
}

.quotecontainer {
    border: 4px solid rgb(18, 110, 53);
    padding: 40px;
    background-color: rgba(233, 240, 234, 0.5);
    border-radius: 8px;
    margin-right: 20px;
}

.quotecontainer p {
    font-size: 20px;
    text-align: end;
    font-weight: bold;

}

.quotetext {
    font-size: 30px;
    width: 400px;
    height: auto;
    font-family: "Courier New";
    font-style: italic;
}

/* Sign Up */

.signup {
    height: 250px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.signupcontainer {
    display: flex;
    border: 3px solid blue;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 50px;
    background-color: blue;
    border-radius: 4px;
}

.signuptext {
    color: white;
    
}

.signupbtn {
    color: white;
    background-color: blue;
    border-color: white;
    width: 100px;
    height: 30px;
    border-radius: 3px;
}

/* Footer */

.footer {
    background-color: rgb(18, 110, 53);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footertext {
 
}
